* {
    font-family: 'Ubuntu', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#container{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.record{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    border: 5px solid #000000;
    border-radius: 5px;
    width: 500px;
    padding: 10px;
    margin: 15px;
}
.controls>h4{
    display: flex;
    justify-content: center;
    margin: 5px;
}
.rec-btn{
    height: 50px;
    width: 50px;
}
.play-btn{
    height: 50px;
    width: 50px;
}
.stop-btn{
    height: 50px;
    width: 50px;
}
.keys{
    display: flex;
    justify-content: center;
    align-items: center;
}
.key{
    height: 50px;
    width: 50px;
    background-color: gray;
    border: 1px solid #000000;
    margin: 0px 5px;
    justify-content: center;
}
.clip{
    visibility: hidden;
}
.rec-btn{
    color: #ff0000;
}